@font-face{
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'PTSerif';
	src: url('../fonts/PTSerif-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}